<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

.brand-logo a {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}

.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
    margin: 5px 10px;
}